*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.logo h2{
    font-size: 45px;
    font width: 900;
}
span{
    color: #ff8c39;
}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #ff8c39;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #fff8f3;
    padding-top: 50px;
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.benner{
    /* border: 1px solid rebeccapurple; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    max-width: 585px;
}
.about h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.img img{
    max-width: 585px;
    vertical-align: middle;
}